﻿@{
    ViewBag.Title = "Home Page";
}

<div class="add-button" id="add-note"></div>
<div class="notes-filter">
    <select class="form-control" id="priority-filter"></select>
    <input class="form-control" id="search" placeholder="Search"/>
    <span class="label label-primary" id="state">active</span>
    <span id="time-filter"><i class="glyphicon glyphicon-time"></i><i class="glyphicon glyphicon-menu-down" id="direction"></i></span>
</div>
<div class="" id="notes-list"></div>

<form class="modal fade" id="add-note-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">add note</h4>
            </div>
            <div class="modal-body">
                <div id="errors"></div>
                <div class="form-group">
                    <label class="control-label field-title">name</label>
                    <input type="hidden" class="form-control" id="id"/>
                    <input type="text" class="form-control" id="name" name="name"/>
                </div>
                <div class="form-group">
                    <label class="control-label field-title">priority</label>
                    <div>
                        <select class="form-control priority-select" id="priority" name="priority"></select>
                        <a class="edit-priorities" href="@Url.Action("Index", "Priorities")">edit</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label field-title">description</label>
                    <textarea class="form-control" id="description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="btn-add-note">add</button>
            </div>
        </div>
    </div>
</form>

<div></div>
@section scripts {
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/site/notes.js"></script>
}