﻿@{
    ViewBag.Title = "Priorities";
}

<h2>Priorities</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-priority-modal"><i class="glyphicon glyphicon-plus"></i> add priority</button>
<hr />
<div id="list"></div>

<form class="modal fade" id="add-priority-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">add priority</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label field-title">name</label>
                    <input type="hidden" id="id" value="0"/>
                    <input type="text" class="form-control" id="name" name="name" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="add-button">add</button>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/site/priorities.js"></script>
}