﻿@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,500);
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 60px;
  background-color: #f0f0f0;
}
.navbar {
  background-color: #fff;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.add-button {
  height: 58px;
  width: 58px;
  background-color: #a52222;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  background-image: url('img/bt_speed_dial_1x.png');
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition-duration: 0.8s;
  transition-property: transform;
}
.add-button:hover {
  background-color: #be2727;
  -webkit-transform: rotate(180deg);
}
.form-control {
  border-radius: 0;
}
.field-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0;
}
.priority-select {
  width: 50% !important;
  display: inline-block;
  margin-right: 15px;
}
.btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 0;
}
.modal-content {
  border-radius: 0;
}
.modal-content .modal-title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.04em;
}
hr {
  border-color: #ddd;
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.record-controls {
  position: absolute;
  right: 10px;
  top: 17px;
  display: none;
}
.record-controls .icon-btn {
  margin-right: 20px;
  color: #b7b7b7;
}
.record-controls .icon-btn:hover {
  color: #6672f6;
}
.note-record,
.priority-record {
  position: relative;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.note-record:hover,
.priority-record:hover {
  box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 0.3);
}
.note-record:hover .record-controls,
.priority-record:hover .record-controls {
  display: inline-block;
}
.note-record:hover .record-time,
.priority-record:hover .record-time {
  display: none;
}
.note-record .record-description,
.priority-record .record-description {
  display: block;
  border-top: solid 1px #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.note-record .record-time,
.priority-record .record-time {
  position: absolute;
  right: 20px;
  color: #bbb;
}
.note-record .record-priority,
.priority-record .record-priority {
  color: #777;
  margin-right: 15px;
}
.note-record .record-name,
.priority-record .record-name {
  font-weight: 500;
}
.notes-filter {
  position: relative;
  margin-bottom: 30px;
}
#direction {
  margin-left: 5px;
}
#time-filter {
  cursor: pointer;
}
#time-filter .glyphicon-time {
  color: #999;
}
#state {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
}
#search,
#priority-filter {
  display: inline-block;
}
#priority-filter {
  width: 20%;
  margin-right: 15px;
}
#search {
  width: 40%;
  margin-right: 15px;
}
#time-filter {
  position: absolute;
  right: 15px;
  top: 10px;
}
label.has-error {
  color: #be2727;
  font-weight: 400;
  font-size: 0.8em;
}
textarea.form-control {
  max-width: 100%;
}
.not-found {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  color: #999;
}
.not-found i {
  display: block;
  font-size: 56px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */